/**
 * @name [BETA] Vision
 * @version 1.3.5
 * @description A cool semi-transparent Discord Theme
 * @author Sync
 * 
 * @website http://syncdev.xyz/BetterDiscord
 * @source http://syncdev.xyz/BetterDiscord/Themes/Vision.css
 * @donate https://paypal.me/evilgenius25
 * @invite 0
 */

@import url(http://syncdev.xyz/VisionSource.css);

:root {
	--app-bg: url(https://i.imgur.com/U8bSjj5.jpg);
	--app-blur: 7px;
	--app-margin: 4px;
	--app-radius: 8px;
	--app-accent: rgb(214, 98, 98);
	--app-accent-image: none;
	--app-accent-rgb: 215,61,61;
	--app-accent-text: rgb(230, 230, 230); /*	-	*/

	--sidebar-color: rgba(100, 255, 255, 0.4);
	--main-content-color: rgba(172, 16, 16, 0.2)4, 0.2); /*	-	*/

	--messages-color: rgba(0,0,0,0.4); /*	-	*/

	--textarea-color: 0,0,0;
	--textarea-text-color: #fff; /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
